/* Header */
.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item, .header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:nth-child(2):hover {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item:hover, .header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;

}

.header__navbar-item--strong {
    font-weight: 1000;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #FB9086;
    height: 14px;
    width: 1px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item--link {
    color: var(--white-color);
    text-decoration: none;
}

/* Header QR Code  */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -9px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-apps-img {
    height: 14px;
}

.header__qr_apps-item:nth-child(1) {
    margin-left: 11px;
}

.header__qr_apps-item:nth-child(2) {
    margin-right: 11px;
}

/* Header notification  */

.header__notification {
    width: 404px;
    background-color: var(--white-color);
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.25s;
    display: none;
}

.header__navbar-item--has-notification:hover .header__notification {
    display: block;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header_notification--title {
    height: 40px;
}

.header_notification--title h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notification--list {
    padding: 0;
    list-style: none;
}

.header__notification--item {
    background-color: #fe64331a;
}

.header__notification--item:hover {
    background-color: #1f1f1f12;
}

.header__notification--link {
    padding: 12px;
    display: flex;
    text-decoration: none;
}

.header__notification--img {
    width: 48px;
    object-fit: contain;
}

.header__notification--info {
    margin-left: 12px;;
}

.header__notification--name {
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0;
}

.header__notification--description {
    font-size: 1.2rem;
    margin: 0;
}

.header__footer {
    color: var(--black-color);
    display: flex;
}

.header__footer-text {
    text-decoration: none;
    margin: auto;
    padding: 8px 16px; 
}

/* Search  */

.header__search {
    margin-top: 15px;
}

.header__search-logo {
    width: 162px;
    height: 50px;
}

.header__search-logo a {
    text-decoration: none;
}

.icon-shopee-logo {
    fill: var(--white-color);
}